// THE SASS COURSE • @bradhussey
// =============================


// VARIABLES
$black: #333;
$pale: #2de1dd;
$pink: #003366;
$blue: #036;

$font-stack: 'Courier New', Courier, monospace ;
$font-size: 14px;

// MIXINS
@mixin circlething($rad, $height, $width, $bg, $color) {
    -webkit-border-radius:  $rad;
    -moz-border-radius:     $rad;
    -ms-border-radius:      $rad;
    border-radius:          $rad;

    height: $height;
    width: $width;

    line-height: $height;
    text-align: center;

    background: $bg;
    color: $color;

    margin: 0 auto;

}

// STYLES
body{
    font-family: $font-stack;
    background: $pale;
    color: $black;
    font-style: $font-size;
}
article{
    background: #fff;
    width: 760px;
    margin: -60px auto 0;
    padding: 40px;
    box-sizing: border-box;
    position: relative;
    
    z-index: -1;
}
header{
    display: block;
    @include circlething(100%, 200px, 200px, $blue, white);
    h1{
        font-style: $font-size+2px;
    }
}

footer{
    @include circlething(50%, 150px, 150px, $black, $pale );
    font-style: $font-size - 3;
    position: relative;
    z-index: -10;
    margin-top: -60px;
}
