body{
  background: linear-gradient(141deg, #0fb8ad 0%, #1fcadb 51%, #2cb5e6 75%);
  height: 2000px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.light{
  color: white;
  text-shadow: 1px 1px 5px  rgba(150, 150, 150, 0.9);
}